* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}
body {
  background-color: #f2f4f7;
  padding: 20px;
}
nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #000000;
  padding-top: 15px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
.container {
  background: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.container ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
  margin-left: 1rem !important;
  padding-left: 0 !important;
}
h1, h2, p {
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  font-size: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}